{{#each this}}
  <div class='card'>
    <h2 class='card-text'>{{name}}</h2>

    <div class='card-body'>
      <div class='card-text'>
        <h3 class='card-title'>Capital:</h3>
        <p class='card-text'> {{capital}}</p>

        <h3 class='card-title'>Population:</h3>
        <p class='card-text'>{{population}}</p>

        <h3 class='card-title'>Languages:</h3>

        <ul class='card-text-list'>
          {{#each languages}}
            <li class='card-text-item'>{{this.name}}</li>
          {{/each}}
        </ul>

      </div>

      <div class='card-img'>
        <img src='{{flag}}' alt='{{name}}' width='600' height='200' />
      </div>

    </div>
  </div>
{{/each}}